body {
    background-color: #8bcebd;
    color: white;
    font-family: 'Inter', sans-serif;
    background-image: url('./iphone.png');
    background-size: 460px;
    background-repeat: no-repeat;
    background-position: center 10px;
    padding-top: 26px;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.wrapper_size_iphone {
    position: relative;
    margin: auto;
    width: 304px;
    height: 640px;
    padding: 20px 16px;
    box-sizing: border-box;
    border-radius: 40px;
}

.display-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.wrapper__display-block {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

.keyboard-block {
    display: flex;
    flex-direction: column;
}

.wrapper__keyboard-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 396px;
    box-sizing: border-box;
}

.display-block__input {
    font-size: 50px;
    padding-right: 7px;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: right;
    overflow-x: auto;
    overflow-y: hidden;
}

.display-block__history {
    font-size: 21px;
    padding-right: 7px;
    box-sizing: border-box;
    width: 100%;
    height: 25px;
    min-height: 25px;
    line-height: 25px;
    overflow-wrap: break-word;
    text-align: right;
    color: #b7b7b7;
}

.wrapper-button_block {
    height: 425px;
    width: 340px;
    margin: 0px 20px 70px;
    display: flex;
    flex-direction: column;
}

.button {
    outline: none;
    border: none;
    transition: 1s;
    user-select: none;
}

.button_text {
    line-height: 60px;
    font-size: 30px;
    text-align: center;
}

.keyboard-block__button {
    width: 60px;
    height: 60px;
    margin: 4px;
    border-radius: 30px;
}

.button:hover {
    cursor: default;
}

.button_color_lightgray {
    background-color: #b7b7b7;
    color: black;
}

.button_color_lightgray:active {
    background-color: #f9f9f9;
    transition: 0s;
}

.button_color_darkgray {
    background-color: #353535;
    color: white;
}

.button_color_darkgray:active {
    background-color: #676767;
    transition: 0s;
}

.button_color_orange {
    background-color: #ffa200;
    color: white;
}

.button_color_orange:focus {
    background-color: white;
    color: #ffa200;
}

.button_color_black {
    background-color: #000000;
    color: white;
    transition: 0s;
}

.button_color_black:active {
    color:#ffa200;
}

.button_doublewidth {
    width: 128px;
    text-align: left;
    padding-left: 31px;
}

.button_size_small {
    width: 48px;
    height: 48px;
    font-size: 20px;
    line-height: 20px;
    margin: 3px;
}

.button_copy {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('./copy.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
}

.bold {
    font-weight: bold;
}